#banner
  #cabinet
  .banner_content
    %h1 File Cabinet
    %p Create and store your documents and notes in one location.
    %button= link_to "Enter", new_user_registration_path, class: "button"

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Create
        %p Easy to make.
        %h2 Organize
        %p All your documents in one place.
        %h2 Store
        %p Retrieve your files anytime.

#bottom_cta
  .wrapper
    %h2 Join today!
    %br
    %button= link_to "Start Filing", new_user_registration_path, class: "button"

%br
%footer
  %hr
  %h2 Contact the creator!
  = link_to image_tag('user-circle-regular.svg'), 'http://www.winnielam.appspot.com'
  = link_to image_tag('linkedin-brands.svg'), 'https://www.linkedin.com/in/winnllam/'
  %p © 2019 by Winnie Lam ; Created with Ruby on Rails
