$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$green: #529ECC;

@mixin bold_font {
  font-family: 'Dosis', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

@mixin title_font {
  font-family: 'Courier New', sans-serif;
  text-transform: uppercase;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-top: 4.5rem;
	font-family: 'Dosis', sans-serif;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_with_padding {
	width: 80%;
	margin: 0 auto;
	padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

// BUTTON STYLING

button {
  border: none;
  padding: 0;
  margin: 0;
}


.button {
	border: none;
	outline: none;
	background: #3DA79F;
	padding: 1rem 3.5rem;
	border-radius: 0.1rem;
  transition-duration: .5s;

	a {
		color: white;
		text-decoration: none;
		font-weight: bold;
	}
}

.button:hover {
  background: #C9F4F1;
}

.button {
	color: white;
	margin: 2rem 0;
}

a {
	color: white;
	text-decoration: none;
	&:hover {
		color: $dark_gray;
	}
}

.links {
  color: rgb(85, 159, 202);
}

// HEADER STYLING

header {
	background: #005D56;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 1.75rem 0;
	border-bottom: 1.5px solid #376490;

	.header_inner {
		width: 90%;
		margin: 0 auto;

		#logo {
			display: inline-block;
			width: 10rem;
			float: left;
			font-weight: bold;
			color: white;
			font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
			font-size: 2.0rem;
		}

		nav {
			float: right;

			a {
				text-decoration: none;
				color: white;
				font-size: 1.1rem;
				line-height: 1.5;
				margin-left: 1rem;
				&:hover {
					color: $light_gray;
				}
			}
		}
	}
}

// FOOTER STYLING (OPTIONAL)

footer {
	width: 100%;
  padding-bottom: 10px;
	color: white;
	text-align: center;

  h2 {
    color: black;
    margin-bottom: 0;
    @include bold_font;
  }

	p {
    color: black;
		margin: 0;
		font-size: 10px;
	}

  img {
    width: 40px;
    height: 40px;
    margin: 5px 10px;
    transition: opacity 1s;
  }

  img:hover {
    opacity: 0.3;
  }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
  padding-left: .7rem;
	margin-bottom: 1rem;
	border: 1px solid $light_gray;
	border-radius: .4rem;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: 40px;
}

textarea {
  padding: .7rem;
	min-height: 200px;
}

.notice {
  color: #36B336;
  padding: 20px;
  padding-bottom: 10px;
  margin: 0;
}

.alert { /*devise alert popup*/
  color: red;
  margin: 10px 20px;
}
