//created with the controller

// WELCOME PAGE

#banner {
	width: 100%;
	min-height: 500px;
	display: table;

	#cabinet {
		background-image: url(image_path("cabinet.png"));
		background-size: 400px;
		background-repeat: no-repeat;
		background-position: center;
		width: 600px;
		min-height: 500px;
	}

	.banner_content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		h1 {
			@include title_font;
			color: #3DA79F;
			font-size: 3.5rem;
			margin: 0;
		}

		p {
			font-size: 1.5rem;
			padding: 0 7%;
			margin: 0 0 2.5rem 0;
			color: #98E0DB;
		}
	}
}

#callouts {
	background-image: image-url("typewritter.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 400px;
	display: table;

	.callout_inner {
		display: table-cell;
		vertical-align: middle;
	}

	.callout {
		text-align: center;
		width: 100%;
		padding: 1.5rem 2.5%;
		float: left;

		h2 {
			@include title_font;
			font-size: 30px;
			color: white;
			margin-bottom: 0;
		}

		p {
			color: rgba(255, 255, 255, 0.9);
		}
	}
}

#bottom_cta {
	text-align: center;
	padding: 7.5rem 0;

	.wrapper {
		padding: 50px;
		border-style: dotted;
		border-color: #409D96;
	}

	h2 {
		@include title_font;
		color: $dark_gray;
		font-size: 3rem;
		margin: 5px;
	}

	p {
			font-size: 1.25rem;
			margin: 0 0 2.5rem 0;
			color: #a7a8a8;
		}
}
